.item__content{
	width: 230px;
	
	padding: 3px;
	margin: 5px;
	overflow: hidden;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
}
.item__link{
	text-decoration: none;
}
.item__image-w{
	width: 230px;
	height: 230px;
}
.item__image{
	object-fit: cover;
}

.item__data-w{
	display: block;
	padding: 16px 12px;
}
.item__price-w, .item__title-w{
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
	
}
.item__shipping-w, .item__price-and-discount-w{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0px;
}

.item__discount-price{
	font-size: 12px;
	line-height: 1.5px;
	text-decoration: line-through;
	color: #999;
	margin-bottom: 0px;
	display: block;				
}

.item__price{
	font-size: 24px;
	color: #333;
	padding-right: 10px;
	display: block;
}

.item__discount-percent{
	font-size: 14px;
	font-weight: 500;
	color: #00a650;
	display: inline-block;
}

.item__shipping{
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #00a650;
	background: #e6f7ee;
	border-radius: 3px;
	padding: 4px 5px;
	margin: 2px 0 0;
	display: inline-block;
}
.item__shipping-type{
	font-size: 10px;
	line-height: 16px;
	font-weight: 600;
	color: #00a650;
	/*margin: 2px 2px 0;*/
	display: inline-block;
}



.item__name{
	font-size: 14px;
	line-height: 1.3px;
	font-weight: 400;
	color: #333;
	margin: 4px 0;
	display: block;
}
.item__description{
	font-size: 12px;
	color: #666;
	display: block;
}