
.cartpage_title{
	color: #333;
	font-size: 40px;
	font-weight: 300;
}


.cart__total-price-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 1400px;
	margin: 10px 0px;
	color: black;
}

.confirm-btn{
	cursor: pointer;
	text-decoration: none;
	padding: 8px 10px;
	border-radius: 5px;
	font-weight: lighter;
	border: 1px orangered solid;
	background: orangered;
	color: #FFF;
	transition: all ease .3s;
}
.confirm-btn:hover{
	color: #FFF;
	background: #f14304;
}
.cancel-btn:hover{
	color: #f14304;
	border-color: #f14304;
}

.cancel-btn{
	cursor: pointer;
	text-decoration: none;
	padding: 8px 10px;
	border-radius: 5px;
	font-weight: lighter;
	border: 1px #000 solid;
	background: #FFF;
	color: #000;
	transition: all ease .3s;
}
