.container{
	display: block;
	background-color: aliceblue;
	padding: 0.5rem;
	width: 100%;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__brand{
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 4rem;
}

.nav__list {
	display: flex;
	justify-content: start;
	align-items: center;
	list-style: none;
	margin-right: 4rem;
}
.nav__link{
	display: flex;
	align-items: center;
	margin: 1rem;
	text-decoration: none;
}

.nav__link--icon, .nav__link--text{
	display: block;
	align-items: center;
	font-size: 1.2rem;
	margin-left: 1rem;
}
