.banner-services-container{
	background-color: #FAFAFA;
}

.service-icon{
	font-size: 40px;
	color: #666;
}

.service-description{
	color:#666;
	font-size: 14px;
	text-align: center;
	font-weight: bolder;
}