*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.item-count-w{
	display: flex;
	flex-flow: column;
}

.item-count{
	margin-right: 5px;
}

.item-count__count{
	display: inline-block;
	width: 40px;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	text-align: center;
}
.item-count button{
	height: 40px;
	width: 40px;
	border-radius: 0px;
	border: solid 1px #F1F1F1;
	background: #FEFEFE;
}
