.item-details__wrapper{
	display: flex;
	justify-content: center;
	margin: 10px;
}
.item-details__media{
	display: flex;
	flex-flow: column;
	margin-right: 30px;
}
.id__media-container{
	display: flex;
	flex-flow: column;
}
.id__media-container--vista{
	display: inline-flex;
	width: 500px;
	height: 500px;
	margin-bottom: 6px;
	border: solid #CCC 1px;
}
.id__media-container--mini{
	display: flex;
	width: 500px;
	height: 100px;
	margin-bottom: 10px;
}
.media-mini__item{
	display: flex;
	width: 100px;
	height: 100px;
	border: solid #CCC 1px;
	margin-right: 6px;
}
.id__media-container--vista img,
.media-mini__item img{
	object-fit: scale-down;
	object-position: center;
}
.id__media-container--mini{
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.item-details__info{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid black;
	height: 500px;
}

.info__title{
	display: flex;
	height: 120px;
}
.info__title h1{}

.info__price-and-info{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: max-content;
	padding: 20px 0px;
	height: 300px;
}

.item-details__price{
	font-size: 40px;
	font-weight: 600;
	color: #52AC35;
}




.shipping__add-to-chart{
	display: flex;
	justify-content: flex-start;
}
.btn-add-to-chart, .shipping__go-to-chart{
	display: flex;
	align-items: center;
	padding-left: 10px;
	margin-left: 5px;
	height: 40px;
	width: 150px;
	background: #52AC35;
	color: #FFF;
	font-weight: 550;
	font-size: 14px;
	border: none;
}
.btn-add-to-chart span{
	margin-left: 5px;
}

.shipping__go-to-chart{
	width: 280px;
	margin: 0px;
	padding: 0px;
	justify-content: center;
}

.shipping__go-to-chart__link{
	text-decoration: none;
	color: #FFF;
}